<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title> Sandesh Vitaran </title>
</head>
<body>
    <div class="login_container">
     
      <div class="login">

        <div class="logo">
          <h1><i class="fas fa-smile"></i> Sandesh Vitaran</h1>
        </div>

        <div class="log">
          <h1> Login </h1>
        </div>
        <form action="/">
          <div class="align">
          <div class="f1 form-group">
            <label for="email">Email:</label> </br>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="f1 form-group">
            <label for="pwd">Password:</label> </br>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
        </div>
          <div class="button">
          <button type="submit" class="login_btn">Submit</button>
        </div>
        </form>
          
      <div class="other">
        <h3><span class="fa fa-lock"></span> Other Signup Option </h3>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign-In with Google</a>
      </div>
      </div>
    </div>
    
</body>
</html>